<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        <p>nam</p>
        <p>{{tilte}}</p>
         <p  v-on:click="say" >click</p>


        <span v-if="seen" >Thoắt ẩn thoắt hiện</span>


        <!-- v-model đồng bộ dữ liệu -->
        <p>{{message1}}</p>
        <input v-model="message1">
        <ul>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ul>
        <p>{{checkit? 'Đúng ': 'Sai'}}</p>

        <div>{{ formatPrice()  }}</div>


    </div>


    <script src="main.js"></script>
</body>
</html>

